body{
    margin: 30px;
}
p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
}
#main-heading{
    color: darkblue;
    font-weight: lighter;
}
.header{
    background-color: rgb(76, 226, 81);
    padding: 20px;
}
.main{
    background-color: rgb(118, 231, 112);
    padding: 30px;
}
.footer{
    background-color: rgb(73, 217, 145);
    padding: 40px;
}
.box{
    border:3px solid black ;
    margin: 5px;
    padding: 5px;
}
.static-box{
    position: static;
    background-color: aqua;
}
.relative-box{
    position: relative;
    left: 30px;
    background-color: lightblue;
}
.absolute-box{
    position: absolute;
    right: 5px;
    background-color: lightcyan;
}
.my-image{
    width: 25%;
}
.size-h2{
    font-size: 2rem;

}
.p{
    font-size: 1.2em;
}
.left-box{
    float: left;
    background-color: lightslategray;
    padding: 20px;
    width: 30%;

}
.right-box{
    float: right;
    background-color: lightseagreen;
    padding: 20px;
    width: 30%;

}
.clear-box{
    clear: both;
    padding: 20px;
}
